# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (Crucial for security!)
.env
.env.local

# Build outputs
dist/
build/

# Operating system files
.DS_Store
Thumbs.db